!!! 5
%html{lang: 'en', 'ng-app' => 'bcpiano'}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title BC Piano
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    :plain
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} BC Piano
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.name.navbar-text= current_user.initials
              %li= link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete
            - else
              %li= link_to fa_icon('sign-in'), new_user_session_path

    .container-fluid(ng-cloak)
      = yield
